.chat {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 550px;
  padding: 15px;
  border: 1px solid grey;
}

.clear-chat {
  margin-top: 15px;
  text-align: center;

  button {
    border: 1px solid #a08785;
    padding: 10px;
    height: 45px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    color: #251f1f;
    transition: 0.3s;
    background: none;
    cursor: pointer;
  }
}